In [1]:
from spiketimes.simulate import imhomogenous_poisson_process, shuffled_isi_spiketrains
from spiketimes.df import list_to_df, spikes_df_to_binned_df

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [3]:
from spiketimes.df import auto_corr_df, cross_corr_df

In [4]:
p = Path(".").absolute().parent / "data" / "spiketimes_pre.feather"
df_spikes = pd.read_feather(p)
df_spikes["spiketimes"] = df_spikes["spike_time_samples"].divide(30000)
df_spikes.head()

   neuron_id  spike_time_samples experiment_name group_name  spiketimes
0        276              639262            OPTO  SERT-CHR2   21.308733
1        276              841590            OPTO  SERT-CHR2   28.053000
2        276             1786592            OPTO  SERT-CHR2   59.553067
3        276             2299466            OPTO  SERT-CHR2   76.648867
4        276             2374137            OPTO  SERT-CHR2   79.137900

In [5]:
neurons = df_spikes["neuron_id"].unique()
df1 = df_spikes.loc[df_spikes["neuron_id"].isin(neurons[:10])]

In [6]:
auto_corr_df(df1)

      neuron_id  lag  auto_correlation
0           276 -100          0.031479
1           276  -99          0.016962
2           276  -98          0.036664
3           276  -97          0.023184
4           276  -96          0.031479
...         ...  ...               ...
1985        289   95         -0.000180
1986        289   96          0.010888
1987        289   97          0.003509
1988        289   98          0.009412
1989        289   99          0.006460

[1990 rows x 3 columns]

In [7]:
cross_corr_df(df1)

     neuron_1  neuron_2  time_bin  cross_correlation
0         276       277      -100           0.031479
1         276       277       -99           0.016962
2         276       277       -98           0.036664
3         276       277       -97           0.023184
4         276       277       -96           0.031479
..        ...       ...       ...                ...
194       288       289        95           0.011591
195       288       289        96           0.012800
196       288       289        97           0.007964
197       288       289        98           0.004337
198       288       289        99           0.006150

[8955 rows x 4 columns]

In [9]:
8955 / 45

199.0