In [9]:
import numpy as np
import pandas as pd

In [10]:
from spiketimes.simulate import imhomogenous_poisson_process, shuffled_isi_spiketrains
from spiketimes.df import list_to_df

In [11]:
from spiketimes.df import spike_count_correlation_df_test

In [13]:
spiketrain_1 = imhomogenous_poisson_process([(1800, 8)])
spiketrain_2 = shuffled_isi_spiketrains(spiketrain_1, n=1)[0]

In [14]:
df = list_to_df(shuffled_isi_spiketrains(spiketrain_1, n=80))

In [15]:
df = (
    df
    .groupby("spiketrain")
    .apply(lambda x: np.random.choice(["A", "B"]))
    .reset_index()
    .rename(columns={0:"group"})
    .pipe(lambda x: pd.merge(df, x))
)

In [16]:
%%timeit

df_p = spike_count_correlation_df_test(df,
                                fs=1, 
                                neuron_col="spiketrain", 
                                spiketimes_col="timepoint_s")

1min 44s ± 408 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [17]:
df_p

      neuron_1  neuron_2  pearson_r      p
0            0         1  -0.061749  0.546
1            0         2   0.014473  0.914
2            0         3   0.075411  0.458
3            0         4  -0.096317  0.362
4            0         5   0.026126  0.774
...        ...       ...        ...    ...
3155        76        78  -0.043229  0.670
3156        76        79  -0.104814  0.288
3157        77        78   0.121644  0.212
3158        77        79   0.009869  0.922
3159        78        79  -0.029676  0.734

[3160 rows x 4 columns]

In [10]:
df.shape

(12030, 2)